@import '@servicenow/sass-kit/host';

.cardContainer {
    $font-size-large: 18px;
    $font-size-medium: 14px;
    $font-size-small: 12px;
    $padding: 5px;

    height: 100%;
    width: 100%;
    transform: none;
    display: flex;
    flex-direction: column;

    * {
        padding: 5px;
        margin: 2px;

        * {
            padding: 0px;
            margin: 0px;
        }
    }

    .headerContainer {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: $font-size-large;
        font-weight: bold;
    }

    .mainContainer {
        flex: 1 1 auto;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: $font-size-medium;
        * {
            overflow: hidden;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display:-webkit-box;
        }

        .mainTitle {
            font-size: $font-size-large;
        }
    }

    .footerContainer {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: $font-size-small;
        * {
            margin-right: 5px;
        }
    }

    img {
        margin-right: 20px;
        border-radius: 100px;
        border: 1px solid black;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
    }
}